rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // 基本falseで弾く　サーバ処理のみadmin SDK使ってるので通る
      allow read, write: if false;
    }
  }
}